* {
    font-family: Arial
}

.center {
    text-align: center;
}

.container {
    background-color: #eee;
    width: 960px;
    margin: 0 auto;
    padding: 20px;
    h1 {
        font-family: 'Opensans', sans-serif;
        color: $accent;
    }
    hr {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    &__links {
        list-style: none;
        margin: 0;
        padding: 0;
        &__link {
            padding: 5px 20px;
            display: inline-block;
            background-color: royalblue;
            color: white;
            &:hover {
                filter: brightness(1.25);
            }
        }
    }
    .button {
        background-color: blue;
    }
}

.page {
    &__subheader {
        font-family: 'Roboto', sans-serif;
        color: $accent;
    }
    &__image {
    }
}
