@font-face {
    font-family: "Opensans";
    src: url("../fonts/OpenSans-Light.ttf") format('ttf');
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Light.ttf") format('ttf');
}
